[submodule "wiki"]
	path = wiki
	url = git@bitbucket.org:angelnan/kafkadb.git/wiki
[submodule "kafkadb_openerpv5_tryton"]
	path = kafkadb_openerpv5_tryton
	url = git@bitbucket.org:angelnan/kafkadb_openerpv5_tryton.git
[submodule "kafkadb_openerpv6_tryton"]
	path = kafkadb_openerpv6_tryton
    url = git@bitbucket.org:aneolf/kafkadb_openerpv6_tryton.git
[submodule "kafkadb_openerpv42_tryton"]
	path = kafkadb_openerpv42_tryton
	url = ./kafkadb_openerpv42_tryton
